{% extends "portfolio/base.html" %}

{% block content %}
<h2>Projetos</h2>

<a href="{% url 'novo_projeto' %}">
    <button>Inserir novo Projeto</button>
</a>

<section>
    {% for projeto in projetos %}
    <article>
        {% if projeto.imagem %}
        <img src="{{ projeto.imagem.url }}" alt="Imagem {{ projeto.titulo }}">
        {% endif %}

        <header>
            <h3>{{ projeto.titulo }}</h3>
            <p>UC: {{ projeto.unidade_curricular.nome }} · {{ projeto.data_realizacao }}</p>
        </header>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for t in projeto.tecnologias.all %}
                    <li>{{ t.nome }}</li>
                {% empty %}
                    <li>Sem tecnologias associadas</li>
                {% endfor %}
            </ul>
        </section>

        <a href="{% url 'edita_projeto' projeto.id %}">
            <button>Editar</button>
        </a>
        <a href="{% url 'apaga_projeto' projeto.id %}">
            <button>Apagar</button>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}